name: 部署文档

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'


jobs:
  merge:
    name: Merge Notes
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          path: main
          ref: main
      - name: checkout notes
        uses: actions/checkout@v4
        with:
          repository: ${{secrets.NOTE_REPO}}
          token: ${{secrets.WORKFLOW_TOKEN}}
          path: notes_folder
          ref: publish
      - name: checkout merged
        uses: actions/checkout@v4
        with:
          path: merged
          ref: merged
      - name: config git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: merge and push
        run: |
          find merged -mindepth 1 -maxdepth 1 -type d ! -name '.git' -exec rm -rf {} +
          
          rsync -av --exclude='.git' main/ merged/
          rsync -av --exclude='.git' notes_folder/ merged/src/
          
          cd merged
          git add .
          git commit -m "merge notes" || echo "nothing to commit"
          git push
          cd ..
  build:
    name: Build the Website
    runs-on: ubuntu-latest
    needs: merge
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: merged
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 21
          cache: pnpm
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10
          run_install: true
      - name: Build The Site
        run: pnpm docs:build

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4
        with:
          # 部署到 gh-pages 分支
          target_branch: gh-pages
          # 部署目录为 VuePress 的默认输出目录
          build_dir: src/.vuepress/dist
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN}}
